## 1. Carga de datos

In [1]:
%run 1-Carga_de_datos.ipynb

## 2. Inspección y Limpieza del set de datos

### Forma, tipos de datos y estadísticos del set de datos

In [2]:
df_income.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48842 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Edad                 48842 non-null  int64
 1   Clase_Obrera         48842 non-null  object
 2   Peso_final           48842 non-null  int64
 3   Educación            48842 non-null  object
 4   Nivel_Educativo      48842 non-null  int64
 5   Estado_Civil         48842 non-null  object
 6   Ocupación            48842 non-null  object
 7   Relación             48842 non-null  object
 8   Raza                 48842 non-null  object
 9   Sexo                 48842 non-null  object
 10  Ganancia_de_capital  48842 non-null  int64
 11  Pérdida_de_capital   48842 non-null  int64
 12  Horas_semanales      48842 non-null  int64
 13  País_de_origen       48842 non-null  object
 14  Ingresos             48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

In [3]:
# Descripción de los datos numéricos
df_income.describe()

,Edad,Peso_final,Nivel_Educativo,Ganancia_de_capital,Pérdida_de_capital,Horas_semanales
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

**Explicación de algunas variables**
1. La variable **"Peso_final"** nos quiere decir cuántas personas de la población total son representados por un registro en particular en el conjunto de datos.
2. La **"Ganancia_de_capital"** representa cualquier ganancia obtenida de la venta de activos de capital. Por ejemplo, si una persona vende acciones a un precio superior al de compra, la ganancia neta se considera ganancia de capital.
3. La **"Pérdida_de_capital"** representa las pérdidas incurridas al vender activos de capital a un precio inferior al de compra.

**Observación**
- Todas las variables numéricas tienen un rango de valores lógicos según lo esperado por cada una de estas, por lo que podemos asegurarnos que si hay valores nulos, estos no se deban a este comportamiento.

In [4]:
# Descripción de los datos categóricos
df_income.describe(include='object')

,Clase_Obrera,Educación,Estado_Civil,Ocupación,Relación,Raza,Sexo,País_de_origen,Ingresos
count,48842,48842,48842,48842,48842,48842,48842,48842,48842
unique,9,16,7,15,6,5,2,42,4
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,33906,15784,22379,6172,19716,41762,32650,43832,24720

**Observación**
- La variable objetivo **"Ingresos"** nos dice que tiene 4 valores únicos, pero esto no debería ser así ya que solo se espera que sean 2 valores únicos, siendo <=50K y >50k

### Valores únicos, Frecuencias y Proporciones

In [5]:
df_income.Ingresos.value_counts()

Ingresos
<=50K     24720
<=50K.    12435
>50K       7841
>50K.      3846
Name: count, dtype: int64

In [6]:
train_data.Ingresos.value_counts()

Ingresos
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [7]:
test_data.Ingresos.value_counts()

Ingresos
<=50K.    12435
>50K.      3846
Name: count, dtype: int64

Los registros que tienen un punto final como en $\le$ 50k. y $>$ 50k. significan que son los registros provenientes del set de prueba.

In [8]:
# Eliminamos el punto final que aparecen en las clases de los datos provenientes del set de prueba
df_income.Ingresos = df_income.Ingresos.str.replace('.', '').values

In [9]:
df_income.Ingresos.value_counts()

Ingresos
<=50K    37155
>50K     11687
Name: count, dtype: int64

In [10]:
# Definimos las columnas categóricas
categorical_columns = df_income.select_dtypes(include=['object']).columns

In [11]:
# Verificar valores únicos y su frecuencia para variables categóricas
for column in categorical_columns:
    print(f"\nValores únicos en {column}:")
    print(df_income[column].value_counts())

Valores únicos en Clase_Obrera:
Clase_Obrera
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

Valores únicos en Educación:
Educación
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

Valores únicos en Estado_Civil:
Estado_Civil
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

Valores únicos en Ocupación:
Ocupación
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

Valores únicos en Relación:
Relación
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64

Valores únicos en Raza:
Raza
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

Valores únicos en Sexo:
Sexo
Male      32650
Female    16192
Name: count, dtype: int64

Valores únicos en País_de_origen:
País_de_origen
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

Valores únicos en Ingresos:
Ingresos
<=50K    37155
>50K     11687
Name: count, dtype: int64

In [12]:
# Verificar valores únicos para las variables categóricas
for column in categorical_columns:
    print(f"\nValores únicos en {column} con {df_income[column].nunique()} clases:")
    print(df_income[column].unique())

Valores únicos en Clase_Obrera con 9 clases:
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']

Valores únicos en Educación con 16 clases:
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']

Valores únicos en Estado_Civil con 7 clases:
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']

Valores únicos en Ocupación con 15 clases:
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']

Valores únicos en Relación con 6 clases:
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']

Valores únicos en Raza con 5 clases:
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']

Valores únicos en Sexo con 2 clases:
[' Male' ' Female']

Valores únicos en País_de_origen con 42 clases:
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

Valores únicos en Ingresos con 2 clases:
[' <=50K' ' >50K']

In [13]:
# Eliminar espacios en blanco de las clases de las variables categóricas
df_income[categorical_columns] = df_income[categorical_columns].apply(lambda x: x.str.strip())

### Eliminar registros duplicados

In [14]:
df_income.duplicated().sum()

52

In [15]:
print("Antes de eliminar registros duplicados", df_income.shape)
df_income.drop_duplicates(inplace=True)
print("Después de eliminar registros duplicados", df_income.shape)

Antes de eliminar registros duplicados (48842, 15)
Después de eliminar registros duplicados (48790, 15)

### Eliminar columnas innecesarias

In [16]:
df_income.drop('Peso_final', axis=1, inplace=True)